*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.header {

}
.first-screen {
	position: relative;
}
.first-screen__inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.bullet {
	position: absolute;
}
.bullet_left {}
.bullet_right {}
.bullet_1 {
	left: 50%;
	top: 222px;
	margin-left: -264px; /*del*/
}
.bullet_2 {
	left: 50%;
	top: 247px;
	margin-left: 18px;
}
.bullet_3 {
	left: 50%;
	top: 318px;
	margin-left: -411px; /*del*/
}
.bullet__table {}
.bullet__table td {
	color: #a9aa81;
	line-height: 1;
}
.bullet__table td.bullet__value {
	width: 125px;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 5px dotted #bec094;
}
.bullet__table td.bullet__text {
	width: 130px;
	max-width: 130px;
	font-weight: normal;
	font-size: 16px;
}
.bullet.bullet_left .bullet__table td.bullet__value {
	text-align: left;
}
.bullet.bullet_left .bullet__table td.bullet__text {
	padding-right: 7px;
	text-align: right;
}
.bullet.bullet_right .bullet__table td.bullet__value {
	text-align: right;
}
.bullet.bullet_right .bullet__table td.bullet__text {
	padding-left: 7px;
	text-align: left;
}