*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Lato", sans-serif;
	font-size: 13pt;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
}
a {
	color: #5fa181;
}
a:hover {
	opacity: 0.6;
	color: #5fa181;
	text-decoration: none;
}
input, textarea {
	border: 1px solid #d2d2d2;
	padding: 8px 12px;
}
.btn {
	border-radius: 0;
}
.header {
	background-color: #eff0ea;
	padding: 30px 0;
}
ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-size: 1px;
}
ul.nav li {
	display: inline-block;
	padding: 17px 0;
}
ul.nav li.nav__search {
	padding: 13px 0;
}
ul.nav li + li {
	margin-left: 33px;
}
ul.nav.nav_header-left li + li {
	margin-left: 78px;
}
ul.nav li a {
	color: #5fa181;
	font-size: 13pt;
}
ul.nav li a:hover {
	color: #5fa181;
}
.nav_header-left {
	float: left;
}
.nav_header-right {
	float: right;
}
.logo {
	display: block;
	width: 251px;
	height: 56px;
	margin: 0 auto;
	background-image: url('../img/logo.svg');
	background-repeat: no-repeat;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
}
.logo:hover {
	opacity: 0.6;
}
.slogan {
	color: #a9aa81;
	font-size: 9.8pt;
	margin-top: 10px;
	text-align: center;
}
.search {
	width: 146px;
	height: 31px;
	position: relative;
}
.search_header {}
.search__input {
	width: 100%;
	height: 100%;
	color: #676766;
	font-size: 10pt;
	border: 1px solid #eeefea;
	padding: 7px 33px 7px 12px;
	outline: none;
}
.search.search_header .search__input {
	background-color: #eff0ea;
	border: 1px solid #c2dace;
}
.search__btn {
	color: #eeefea;
	background: none;
	outline: none;
	border: none;
	position: absolute;
	font-size: 17px;
	margin: -8px 0 0 0;
	padding: 0;
	right: 10px;
	top: 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.search__btn:hover {
	color: #5fa181;
}
.search.search_header .search__btn {
	color: #5fa181;
}
.search.search_header .search__btn:hover {
	opacity: 0.6;
}

.first-screen {
	position: relative;
}
.first-screen__inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.bullet {
	display: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
a.bullet:hover {
	text-decoration: none;
	opacity: 0.6;
}
.bullet_left {}
.bullet_right {}
.bullet_1 {
	left: 50%;
	top: 11%;
	margin-left: -264px; /*del*/
}
.bullet_2 {
	left: 50%;
	top: 17%;
	margin-left: 18px;
}
.bullet_3 {
	left: 50%;
	top: 30%;
	margin-left: -396px; /*del*/
}
.bullet__table {}
.bullet__table td {
	color: #a9aa81;
	line-height: 1;
}
.bullet__table td.bullet__value {
	width: 125px;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 5px dotted #bec094;
}
.bullet__table td.bullet__text {
	width: 130px;
	max-width: 130px;
	font-weight: normal;
	font-size: 16px;
}
.bullet.bullet_left .bullet__table td.bullet__value {
	text-align: left;
}
.bullet.bullet_left .bullet__table td.bullet__text {
	padding-right: 7px;
	text-align: right;
}
.bullet.bullet_right .bullet__table td.bullet__value {
	text-align: right;
}
.bullet.bullet_right .bullet__table td.bullet__text {
	padding-left: 7px;
	text-align: left;
}
.content {
	padding: 23px 0;
}
.content_pt35 {
	padding-top: 35px;
}
.ico-sheet {
	display: block;
	border: 1px solid #eeefea;
	color: #5fa181;
	margin-bottom: 50px;
}
.ico-sheet__header {
	display: block;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	padding: 13px;
	position: relative;
}
.ico-sheet__header-lnk {
	display: block;
	font-size: 6pt;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	margin-top: 2px;
}
.ico-sheet__table {
	display: table;
	border-collapse: collapse;
}
.ico-sheet__row {
	display: table-row;
	border-top: 1px solid #eeefea;
	height: 82px;
}
.ico-sheet__row:hover {
	background-color: #eeefea;
	opacity: 1;
}
.ico-sheet__td {
	display: table-cell;
	vertical-align: middle;
	padding: 18px 14px;
}
.ico-sheet__td1 {
	text-align: center;
	width: 30px;
}
.ico-sheet__td1-inner {
	color: #3e3e3e;
	font-size: 9pt;
	font-weight: bold;
	text-transform: uppercase;
}
.ico-sheet__td2 {
	color: #5fa181;
	font-size: 8pt;
	padding-left: 0;
	padding-right: 0;
}
.ico-sheet__td2-inner {
	border-left: 1px solid #eeefea;
	border-right: 1px solid #eeefea;
	padding: 0 10px;
}
.ico-sheet__td2-inner_eol {
	color: #3e3e3e;
	border-right: none;
	padding-right: 14px;
	font-size: 9pt;
}
.ico-sheet__td3 {
	width: 30px;
	text-align: center;
}
.ico-sheet__icon {
	font-size: 19px;
	width: 30px;
}
.ico-sheet__header-lnk:hover {
	text-decoration: none;
}
.count-days {
	width: 30px;
	color: #5fa181;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}
.count-days__count {
	font-size: 22pt;
}
.count-days__days {
	font-size: 9pt;
	text-transform: uppercase;
}
.subscribe {
	background-color: #5ea281;
	padding: 62px 0 61px;
}
.subscribe_mb {
	margin-bottom: 126px;
}
.subscribe__input {
	width: 100%;
	background-color: #f6f6ea;
	color: #3e3e3e;
	font-size: 12pt;
	padding: 15px 26px;
	margin-bottom: 15px;
	text-align: center;
}
.subscribe__btn {
	width: 100%;
	background-color: #a7d692;
	font-size: 12pt;
	color: #feffff;
	text-transform: uppercase;
	padding: 15px 26px;
	margin-top: 5px;
}
.subscribe__btn:hover {
	color: #feffff;
	background-color: #b4dda2;
}

.footer {
	background-color: #eeefea;
	padding: 35px 0 32px;
}
.logo-grayscale {
	display: block;
	width: 209px;
	height: 46px;
	margin: 0;
	background-image: url('../img/logo_grayscale.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}
.logo-grayscale:hover {
	background-image: url('../img/logo.svg');
}
ul.nav_footer {
	text-align: center;
}
ul.nav_footer li {
	padding: 11px 0;
}
.social-icons {
	float: right;
	font-size: 0;
	font-size: 1px;
	padding: 11px 0;
}
.social {
	display: inline-block;
	font-size: 21px;
	color: #bababa;
}
.social + .social {
	margin-left: 25px;
}