*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.header {

}
.first-screen {
	/*height: 470px; !*del*!*/
	/*background-image: url('../img/illustration.svg');*/
	/*background-position: 50% 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	position: relative;
}
.first-screen__inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.bullet {
	position: absolute;
}
.bullet_left {}
.bullet_right {}
.bullet_1 {
	left: 50%;
	top: 195px;
	margin-left: -322px; /*del*/
}
.bullet_2 {
	left: 50%;
	top: 227px;
	margin-left: 17px;
}
.bullet_3 {
	left: 50%;
	top: 284px;
	margin-left: -467px; /*del*/
}
.bullet__table {}
.bullet__table td {
	color: #a9aa81;
	line-height: 1;
}
.bullet__table td.bullet__value {
	width: 120px;
	font-weight: bold;
	font-size: 55px;
	border-bottom: 5px dotted #bec094;
}
.bullet__table td.bullet__text {
	font-weight: normal;
	font-size: 33px;
}
.bullet.bullet_left .bullet__table td.bullet__value {
	text-align: left;
}
.bullet.bullet_left .bullet__table td.bullet__text {
	padding-right: 7px;
}
.bullet.bullet_right .bullet__table td.bullet__value {
	text-align: right;
}
.bullet.bullet_right .bullet__table td.bullet__text {
	padding-left: 7px;
}